.Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
h2 {
  text-align: center;
}
.swal-content {
  text-align: left;
  overflow: auto;
}
.swal-content *{
  font-family: monaco;
}
.swal-modal {
  width: 90% !important;
}
.swal-button{
    background-color: #f5f5f5 !important;
    color: #222;
}
.swal-button:hover{
    background-color: #f5f5f5 !important;
}
