.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222;
    color: white;
    padding: 10px;
}

.Footer>span>a {
  color: turquoise;
}
