.Footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: #222;
  color: white;
  padding: 10px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.Footer > span > a {
  color: turquoise;
}

@media only screen and (max-width: 600px) {
  .Footer {
    display: none;
  }
}
